@page "/account"
@inherits BasePage

<h3>Account</h3>
<hr />
        <div class="row">    
            <div class="col-lg-6">
                <h4>Account information</h4>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Email</label>     
                    <div class="col-sm-10">
                        <input @bind=Email type="text" class="form-control" placeholder="example@example.com" >
                    </div>                    
                </div>
                <div class="mb-3">
                    <button class="form-control" @onclick=UpdateUserInfo>Update information</button>
                </div>
                <div class="mb-3">
                    <button class="form-control" @onclick=ResetChanges>Reset changes</button>
                </div>
            </div> 
            <div class="col-lg-6">
                <h4>Change password</h4>                               
                <div class="mb-3 row">
                    <lable class="col-sm-5 col-form-label">Current password</lable>
                    <div class="col-sm-7">
                        <input @bind=CurrentPassword type="password" class="form-control" />
                    </div>                    
                </div>
                <div class="mb-3 row">
                    <lable class="col-sm-5 col-form-label">New password</lable>
                    <div class="col-sm-7">
                        <input @bind=NewPassword type="password" class="form-control" />
                    </div>                    
                </div>
                <div class="mb-3">
                    <button class="form-control" @onclick=UpdateUserPassword>Change password</button>
                </div>
            </div>  
        </div>

