@page "/groups"
@inherits BasePage

<h3>Groups</h3>
<hr />


        <table class="table table-borderless">
            <tr>
                <td>Name</td>
            </tr>
            <tr>
                <td><input class="form-control" @bind=NewGroupName /></td>
                <td><button class="form-control btn-success" @onclick=AddGroup>Add group</button></td>
            </tr>
            @foreach(var group in groups)
            {
                string id = group.Id;
                <tr>
                    <td><input class="form-control" @bind=group.Name readonly /></td>
                    <td><button class="form-control btn-info" @onclick="() => NavigateToGroup(id)">Edit group</button></td>
                </tr>               
            }
        </table>

