@page "/group/{GroupId}"
@inherits BasePage
@using RandomCappuccino.Shared


<h3>Group</h3>

<hr />

<div class="row">
    <div class="col-sm-6 mb-3">
        <input @bind=GroupName type="text" class="form-control" placeholder="Group name"  />
    </div> 
    <div class="col-sm-3 mb-3">
        <button class="btn-warning form-control" @onclick=UpdateGroup>Update group</button>
    </div>
    <div class="col-sm-3 mb-3">
        <button class="btn-danger form-control" @onclick=DeleteGroup>Delete group</button>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <h4>Participants</h4>
        <hr />
        <div class="row">
            <div class="col-sm-8 mb-3">
                <input @bind=NewParticipantName type="text" class="form-control" placeholder="New participant name"  />
            </div> 
            <div class="col-sm-4 mb-3">
                <button class="btn-success form-control" @onclick=AddParticiapant>Add participant</button>
            </div>
        </div>        
        @foreach(var participant in participants)
        {
            ParticipantInfo p = participant;
            <div class="input-group mb-3">
                <input @bind=p.Name type="text" class="form-control"  />
                <button class="btn btn-warning" @onclick="async ()=> await UpdateParticipant(p)">Update</button>
                <button class="btn btn-danger" @onclick="async ()=> await DeleteParticipant(p.Id)">Delete</button>                
            </div>
        }
    </div>   
    <div class="col-lg-4">
        <h4>Tours</h4>
        <hr />
        <div class="row">
            <div class="mb-3 col-sm-12">
                <button class="btn-success form-control" @onclick=AddTour>Create tour</button>
            </div>
        </div>        
        @foreach(var tour in tours)
        {            
            string link = $"/tour/{GroupId}/{tour.Id}"; 
            <div class="mb-3 col-sm-12">
                <NavLink class="nav-link" href="@link">Tour from @tour.CreationTime</NavLink>     
            </div>
        }
    </div>
</div>



