@page "/groups"
@inherits BasePage

<h3>Groups</h3>
<hr />

<div class="row" >
    <div class="col-lg-9">
        <table class="table table-borderless">
            <tr>
                <td>Group name</td>
            </tr>
            <tr>
                <td><input class="form-control" @bind=NewGroupName /></td>
                <td><button class="form-control btn-success" @onclick=AddGroup>Add group</button></td>
            </tr>
            @foreach(var group in groups)
            {
                <tr>
                    <td><input class="form-control" @bind=group.Name readonly /></td>
                    <td><button class="form-control btn-info">Edit group</button></td>
                </tr>               
            }
        </table>
    </div>
    <div class="col-lg-3">
        <MessageList Messages=messages  />
    </div>
</div>
