@page "/"
@page "/sign-in"
@inherits BasePage

<h3>Sign In</h3>
<hr />

<div class="row">
    <div class="col-lg-6">        
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Email</label>  
            <div class="col-sm-10">
                <input @bind=Email type="text" class="form-control" placeholder="example@example.com"  />
            </div>            
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Password</label>  
            <div class="col-sm-10">
                <input @bind=Password type="password" class="form-control"  />
            </div>            
        </div>
        <div class="mb-3">
            <button class="form-control" @onclick="SignInAsync">Sign In</button>
        </div>
    </div>
</div>

